html {
  width: 100%;
}

body {
  background: #f8f8ff;
  width: 100%;
  font-size: 1.25em;
  padding: 1em;
  justify-content: center;
}

a, p, label, input {
  font-family: "Roboto", sans-serif;
  color: #2E343D;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  color: #2E343D;
}

input:focus-visible {
  outline: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.col-span-1 {
  grid-column: span 1/span 1;
}

.col-span-2 {
  grid-column: span 2/span 2;
}

.col-span-3 {
  grid-column: span 3/span 3;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.row-span-1 {
  grid-row: span 1/span 1;
}

.row-span-2 {
  grid-row: span 2/span 2;
}

.row-span-3 {
  grid-row: span 3/span 3;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.mobile {
  background: #f8f8ff;
  width: 414px;
  box-shadow: 0px 0px 1em #ccc;
  font-size: 1.25em;
  padding: 1em;
  border-radius: 1em;
  margin: auto;
  border: 21px solid #f8f8ff;
}

.error {
  background-color: #B4C4E7;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #32549d;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: none;
}

.btn {
  font-size: 0.9em;
  padding: 0.5em 1em;
  font-weight: bold;
  border-radius: 0.2em;
  border: none;
  color: white;
  background-color: #0CB159;
  cursor: pointer;
}

.inputfield {
  border-radius: 0.5em;
  height: 2.3rem;
  vertical-align: middle;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-color: transparent;
  box-shadow: 0px 0px 1em #ccc;
}

.link {
  text-decoration: none;
  color: #6d6878;
  font-size: large;
}

.w-1_2 {
  width: 50%;
}

.w-1_3 {
  width: 33.333333%;
}

.w-2_3 {
  width: 66.666667%;
}

.w-1_4 {
  width: 25%;
}

.w-2_4 {
  width: 50%;
}

.w-3_4 {
  width: 75%;
}

.w-1_5 {
  width: 20%;
}

.w-2_5 {
  width: 40%;
}

.w-3_5 {
  width: 60%;
}

.w-4_5 {
  width: 80%;
}

.m-0 {
  margin: 0;
}

.m-px {
  margin: 1px;
}

.m-0_5 {
  margin: 0.125rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-1_5 {
  margin: 0.375rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-2_5 {
  margin: 0.625rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-3_5 {
  margin: 0.875rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-px {
  margin-top: 1px;
}

.mt-0_5 {
  margin-top: 0.125rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-1_5 {
  margin-top: 0.375rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-2_5 {
  margin-top: 0.625rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-3_5 {
  margin-top: 0.875rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

/*# sourceMappingURL=main.css.map */
