html
  width: 100%

body
  background: $backgroundColor
  width: 100%
  font-size: 1.25em
  padding: 1em
  justify-content: center

a, p, label, input
  font-family: 'Roboto', sans-serif
  color: $textColor

h1, h2, h3, h4, h5
  font-family: 'Montserrat', sans-serif
  color: $textColor

h1
  font-size: 2.75rem
  line-height: 3rem
  font-weight: 900
  margin-bottom: 0.8em

h2
  font-size: 1.875rem
  line-height: 2.25rem
  font-weight: 700
  margin-bottom: 0.5em

h3
  font-size: 1.155rem
  line-height: 1.75rem
  font-weight: 600
  margin-bottom: 0.5em

input:focus-visible
  outline: none

textarea:focus-visible
  outline: none

textarea
  resize: none

